.card-plans{
    &:nth-child(2n){
        --blue-1:var(--white);
        --gray:var(--c-blue-1);
        --purple:var(--yellow-1);
        .card-plans-btn{
            --blue-1:var(--yellow-1);
            --white:var(--c-blue-1);

        }
    }
}