.height {
    @include resp {
        @for $var from $height-min to $height-max {
            &-#{$var} {
                height: ptr($var * 1px);
            }
            &-max-#{$var} {
                max-height: ptr($var * 1px);
            }
            &-min-#{$var} {
                min-height: ptr($var * 1px);
            }
        }
        &-vh {
            @for $var from 1 to 101 {
                &-#{$var} {
                    height: $var * 1vh;
                }
                &-max-#{$var} {
                    max-height: $var * 1vh;
                }
                &-min-#{$var} {
                    min-height: $var * 1vh;
                }
            }
        }
        &-p {
            @for $var from 1 to 101 {
                &-#{$var} {
                    height: $var * 1%;
                }
                &-max-#{$var} {
                    max-height: $var * 1%;
                }
                &-min-#{$var} {
                    min-height: $var * 1%;
                }
            }
        }
    }
}
