.top {
    @include resp {
        @for $var from 0 to 101 {
            &-p-#{$var} {
                top: $var * 1%;
            }
        }
        @for $var from $top-min to $top-max {
            &-#{$var} {
                top: ptr($var * 1px);
            }
        }
    }
}
.left {
    @include resp {
        @for $var from 0 to 101 {
            &-p-#{$var} {
                left: $var * 1%;
            }
        }
        @for $var from $left-min to $left-max {
            &-#{$var} {
                left: ptr($var * 1px);
            }
        }
    }
}
.right {
    @include resp {
        @for $var from 0 to 101 {
            &-p-#{$var} {
                right: $var * 1%;
            }
        }
        @for $var from $right-min to $right-max {
            &-#{$var} {
                right: ptr($var * 1px);
            }
        }
    }
}
.bottom {
    @include resp {
        @for $var from 0 to 101 {
            &-p-#{$var} {
                bottom: $var * 1%;
            }
        }
        @for $var from $bottom-min to $bottom-max {
            &-#{$var} {
                bottom: ptr($var * 1px);
            }
        }
    }
}
