@font-face {
  font-family: montserrat;
  src: url("/font/montserrat/Montserrat-Regular.ttf");
  font-display: auto;
}
@font-face {
  font-family: montserrat;
  src: url("/font/montserrat/Montserrat-Medium.ttf");
  font-weight: 500;
  font-display: auto;
}
@font-face {
  font-family: montserrat;
  src: url("/font/montserrat/Montserrat-SemiBold.ttf");
  font-weight: 600;
  font-display: auto;
}
@font-face {
  font-family: montserrat;
  src: url("/font/montserrat/Montserrat-Bold.ttf");
  font-weight: 700;
  font-display: auto;
}
.font-montserrat {
  font-family: montserrat;
}

@font-face {
  font-family: poppins;
  src: url("/font/montserrat/Montserrat-Regular.ttf");
  font-display: auto;
}
@font-face {
  font-family: poppins;
  src: url("/font/montserrat/Montserrat-Medium.ttf");
  font-weight: 500;
  font-display: auto;
}
@font-face {
  font-family: poppins;
  src: url("/font/montserrat/Montserrat-SemiBol.ttf");
  font-weight: 600;
  font-display: auto;
}
@font-face {
  font-family: poppins;
  src: url("/font/montserrat/Montserrat-Bold.ttf");
  font-weight: 700;
  font-display: auto;
}
.font-poppins {
  font-family: poppins;
}

html {
  font-size: 12px;
  overflow: auto;
}
@media (min-width: 575px) {
  html {
    font-size: 11px;
  }
}
@media (min-width: 768px) {
  html {
    font-size: 12px;
  }
}
@media (min-width: 992px) {
  html {
    font-size: 13px;
  }
}
@media (min-width: 1024px) {
  html {
    font-size: 14px;
  }
}
@media (min-width: 1440px) {
  html {
    font-size: 15px;
  }
}
@media (min-width: 1600px) {
  html {
    font-size: 16px;
  }
}
@media (min-width: 1920px) {
  html {
    font-size: 18px;
  }
}

:root {
  --white: white;
  --black: black;
  --blue-1: #1C1E53;
  --c-blue-1: #1C1E53;
  --blue-2: #282938;
  --blue-3: #2405F2;
  --yellow-1: #FCD980;
  --gradient-1: linear-gradient(329.39deg, #1C1E53 -10.96%, rgba(28, 30, 83, 0.42) 103.96%);
  --transparent: #ecb9b900;
  --gray: #F4F6FC;
  --gray-1: #F4F5F5;
  --white-2: rgba(255, 255, 255, 0.05);
  --purple: #2405F2;
}

@media (max-width: 991px) {
  .header .menuMovil {
    overflow: hidden;
    height: 0;
    width: 100%;
    position: fixed;
    top: var(--heightMenu);
    left: 0;
    transition: 0.5s;
  }
  .header .menuMovil .col-1 {
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .header .menuMovil .inputHeader {
    margin: auto;
  }
}

body.activeMenu .menuMovil {
  height: calc(100vh - var(--heightMenu));
}

.container {
  width: 100%;
  max-width: var(--container, 80rem);
  margin-left: auto;
  margin-right: auto;
}

.bg, .bg img, .bg .capa {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.login-input {
  outline: none;
}

.OurVissionMission:nth-child(2n) {
  flex-direction: row-reverse;
}

.card-plans:nth-child(2n) {
  --blue-1:var(--white);
  --gray:var(--c-blue-1);
  --purple:var(--yellow-1);
}
.card-plans:nth-child(2n) .card-plans-btn {
  --blue-1:var(--yellow-1);
  --white:var(--c-blue-1);
}

.contact-input {
  outline: none;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: var(--white, white);
}

::-webkit-scrollbar-thumb {
  background-color: var(--gray, gray);
}

body {
  padding-top: var(--sizeHeader, 0);
}

/*# sourceMappingURL=style.css.map */
